.card {
    min-height: 550px;
    padding: 1em;
    margin: 1em;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 1);
    transition: 0.4s;
}
.card p {
    min-height: 75px;
}

.card:hover {
    box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 1);
}
.card-image {
    text-align: center;
    min-height: 100px;
    margin-bottom: 2em;
}
.card-image img {
    max-height: 200px;
    max-width: 260px;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 0.3em;
    background: fuchsia;
}
